@charset "utf-8";

/*
デフォルト設定
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  background-color: rgb(255, 248, 238);
  height: 100%;
}

body {
  color: #333;
  font-family: '游ゴシック体', 'YuGothic', '游ゴシック Medium', 'Yu Gothic Medium', '游ゴシック', 'Yu Gothic', 'メイリオ', sans-serif;
  letter-spacing: 0.1em;
  height: 100%;
}

body > .box {
  height: auto;
}

.box {
  height: 100%;
  min-height: 100%;
}

a {
  color: #333;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.section-title {
  font-size: 2.25rem;
  padding-top: 100px;
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: center;
  position: relative;
}

.section-title::after {
  content: '';
  width: 100px;
  height: 3px;
  background-color: #333;
  display: block;
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

/*-------------------------------------
header CSS
--------------------------------------*/
header {
  width: 100%;
  height: 95px;
  background-color: rgb(214, 255, 243);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  opacity: 0.8;
}

header .site-title {
  width: 100%;
  display: flex;
}

header .site-title a {
  display: block;
  margin: 10px 10px;
  color: #333;
}

header .site-title a:hover {
  transition: all 0.6s;
  transform: scale(1.04);
}

header .site-title a img {
  height: 70px;
  margin-left: 20px;
}

header .site-title a p {
  font-size: 27px;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 20px;
  margin-left: 10px;
}

/*
ハンバーガーメニュー
*/
.menuButton {
  width: 75px;
  height: 75px;
  border-radius: 20px;
  border: 2px solid #333;
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 30;
  cursor: pointer;
  transition: 0.5s;
}

.menuButton:hover {
  opacity: 0.7;
}

.menuButton span {
  width: 40px;
  height: 2px;
  background: #333;
  position: absolute;
  right: 15px;
  transition: 0.3s ease-in-out;
}

.menuButton span:nth-child(1) {
  top: 19px;
}

.menuButton span:nth-child(2) {
  top: 34px;
}

.menuButton span:nth-child(3) {
  top: 48px;
}

.menuButton.active span:nth-child(1) {
  transform: translateY(16px) rotate(-315deg);
}

.menuButton.active span:nth-child(2) {
  opacity: 0;
}
.menuButton.active span:nth-child(3) {
  transform: translateY(-14px) rotate(315deg);
}

/*
メニューの設定
*/
#global_nav {
  width: 100%;
  height: 100%;
  background-color: rgb(186, 255, 235);
  color: #333;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  opacity: 0;
  text-align: center;
  transition: opacity 0.6s ease, visibility 0.6s ease;
  visibility: hidden;
}

#global_nav .site-title {
  margin-left: 133px;
}

#global_nav .site-title a {
  color: #333;
}

#global_nav .site-title a:hover {
  transition: all 0.6s;
  transform: scale(1.04);
}

#global_nav.active {
  opacity: 1;
  visibility: visible;
}

#global_nav .logo {
  width: 94px;
  position: absolute;
  top: 10px;
  left: 30px;
}

#global_nav .menu {
  margin: 80px 0 40px 0;
}

#gloal_nav .menu li {
  margin-bottom: 20px;
  margin-top: 10px;
}

#global_nav .menu a {
  color: #333;
  font-weight: bold;
  cursor: pointer;
}

#global_nav .menu li:hover {
  transition: all 0.6s;
  transform: scale(1.04);
}

#global_nav .btn {
  width: 300px;
  border: solid 1px #333;
  color: #333;
  display: block;
  font-weight: bold;
  padding: 15px 0;
  margin: 0 auto;
  position: relative;
  transition: 0.3s ease-in-out;
}

/* ボタンの右と下の線は疑似要素で設定 */
#global_nav .btn::after {
  content: '';
  width: 300px;
  border-right: solid 1px #333;
  border-bottom: solid 1px #333;
  padding: 15px 0;
  position: absolute;
  right: -6px;
  bottom: -6px;
}
#global_nav .btn:hover {
  background-color: rgb(186, 255, 235);
  color: #333;
}

/*-------------------------------------
main CSS
--------------------------------------*/
/*
Scroll
*/
.scrolldown4 {
  /*描画位置※位置は適宜調整してください*/
  position: absolute;
  right: 48.8%;
  animation: arrowmove 1s ease-in-out infinite;
}

/*下からの距離が変化して全体が下→上→下に動く*/
@keyframes arrowmove {
  0% {
    bottom: 1%;
  }
  50% {
    bottom: 2%;
  }
  100% {
    bottom: 1%;
  }
}

/*Scrollテキストの描写*/
.scrolldown4 span {
  position: absolute;
  top: 75px;
  left: -20px;
  color: #333;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
  /*縦書き設定*/
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  user-select: none;
}

/* 矢印の描写 */
.scrolldown4:before {
  content: '';
  /*描画位置*/
  position: absolute;
  top: 95px;
  right: -6px;
  /*矢印の形状*/
  width: 1px;
  height: 20px;
  background: #333;
  transform: skewX(-31deg);
}

.scrolldown4:after {
  content: '';
  position: absolute;
  top: 65px;
  right: 0;
  /*矢印の形状*/
  width: 1px;
  height: 50px;
  background: #333;
}

#scrollr:before {
  content: '';
  position: fixed;
  left: 0;
  z-index: -1;
  width: 100%;
}

/*
mainvisual
*/

#mainvisual {
  margin-bottom: 120px;
}

#mainvisual .text {
  width: 40%;
  left: 4%;
  top: 400px;
  position: relative;
  z-index: 1;
}

#mainvisual .text #ja {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 0 4px 6px #fff;
}

#mainvisual .text #en {
  font-size: 2rem;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 55px;
}

#mainvisual .fade li {
  width: 65%;
  position: absolute;
  top: 13%;
  right: 0;
  opacity: 0;
  animation: fade 20s infinite;
}

#mainvisual .fade li:nth-child(1) {
  animation-delay: 0s;
}

#mainvisual .fade li:nth-child(2) {
  animation-delay: 5s;
}

#mainvisual .fade li:nth-child(3) {
  animation-delay: 10s;
}

#mainvisual .fade li:nth-child(4) {
  animation-delay: 15s;
}

#mainvisual .fade li img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}

#mainvisual .fade li::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0px 0px 20px 20px #fff;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/*
日付の更新
*/
#modDay {
  display: flex;
  justify-content: right;
  margin-top: 740px;
  margin-right: 20px;
  margin-bottom: 120px;
  font-size: 1.2rem;
  letter-spacing: 0.04rem;
  align-items: center;
}
#modDay span {
  background: #ff971f;
  line-height: 1;
  font-size: 0.9rem;
  padding: 5px 10px;
  margin-right: 20px;
  border-radius: 3px;
  color: rgb(255, 255, 255);
}

/*
概要・紹介
*/
#overview {
  width: 97%;
  margin: 0 auto;
  background-color: rgb(242, 255, 227);
  border-radius: 40px;
  border: 2px solid #333;
}

#overview .section-title {
  padding-top: 30px;
}

#select-flex {
  display: flex;
  flex-wrap: wrap;
}

#select-flex .bg img {
  display: block;
  width: 40%;
  margin: 0 auto;
}

#select-flex .bg p,
h3 {
  font-size: 1rem;
  margin-bottom: 30px;
  text-align: center;
}

#select-flex h3 {
  font-size: 2rem;
  color: #333;
}

#select-flex .bg p {
  padding-top: 20px;
}

#select-flex .bg .btn {
  width: 60%;
  background-color: #49e176;
  border-bottom: 6px solid #339d53;
  border-radius: 10px;
  color: #fff;
  font-size: 1.1rem;
  display: block;
  padding: 15px 35px;
  text-align: center;
  transition: 0.3s;
  position: relative;
  margin: 0 auto;
}

#select-flex .bg .btn::after {
  content: '';
  width: 12px;
  height: 12px;
  border-top: solid 3px #fff;
  border-right: solid 3px #fff;
  transform: rotate(45deg);
  position: absolute;
  top: 24px;
  right: 30px;
}

#select-flex .bg .btn:hover {
  opacity: 0.9;
  transform: scale(1.03);
}

.bg {
  width: 50%;
  display: inline-block;
  margin: 0 auto;
}

/*
Service
*/
#service {
  display: inline-block;
  margin: 0 auto;
}

#service ul .up,
.down {
  display: flex;
  padding-bottom: 60px;
}

#service ul p {
  text-align: center;
  margin: 10px 30px 0 30px;
  font-weight: bold;
}

#service ul div img {
  width: 80%;
  height: 160px;
  object-fit: cover;
  margin: 0 20px 0 20px;
}

/*
Guamについて
*/

.s_07 .accordion_one .accordion_header {
  background-color: rgb(255, 158, 32);
  border-bottom: 1px solid #fff;
  color: #333;
  font-size: 20px;
  font-weight: bold;
  padding: 20px 11%;
  text-align: center;
  position: relative;
  cursor: pointer;
  max-width: 90%;
  margin: 0 auto;
}
.s_07 .accordion_one .accordion_inner .accordion_header {
  background-color: #fec57a;
}
.s_07 .accordion_one .accordion_inner .accordion_inner .accordion_header {
  background-color: rgb(253, 224, 186);
}

.s_07 .accordion_one .accordion_header .i_box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 5%;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  margin-top: -20px;
  box-sizing: border-box;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transform-origin: center center;
  transition-duration: 0.2s;
}

.s_07 .accordion_one .accordion_header .i_box .one_i {
  display: block;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transform-origin: center center;
  transition-duration: 0.2s;
  position: relative;
}

.s_07 .accordion_one .accordion_header.open .i_box {
  -webkit-transform: rotate(-360deg);
  transform: rotate(-360deg);
}

.s_07 .accordion_one .accordion_header .i_box .one_i:before,
.s_07 .accordion_one .accordion_header .i_box .one_i:after {
  display: flex;
  content: '';
  background-color: #fff;
  border-radius: 10px;
  width: 18px;
  height: 4px;
  position: absolute;
  top: 7px;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transform-origin: center center;
}

.s_07 .accordion_one .accordion_header .i_box .one_i:before {
  width: 4px;
  height: 18px;
  top: 0;
  left: 7px;
}

.s_07 .accordion_one .accordion_header.open .i_box .one_i:before {
  content: none;
}

.s_07 .accordion_one .accordion_header.open .i_box .one_i:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.s_07 .accordion_one .accordion_inner {
  display: none;
  padding: 0;
  box-sizing: border-box;
}

.s_07 .accordion_one .accordion_inner .box_one {
  height: 300px;
}
.s_07 .accordion_one .accordion_inner p.txt_a_ac {
  margin: 0;
}

.place_explanation {
  margin-top: 30px;
}

.place_explanation p b {
  color: rgb(227, 56, 56);
}

.entire {
  display: flex;
}

.entire img {
  width: 35%;
}

.entire p {
  font-size: 1rem;
  margin-left: 20px;
}

.explanation {
  display: flex;
}

.explanation div p {
  font-size: 0.9rem;
}

.explanation div p b {
  color: rgb(227, 56, 56);
}

.explanation div {
  padding-left: 25px;
  margin: auto 0;
}

.explanation img {
  margin-top: 4px;
  width: 40%;
  border: 2px solid rgb(51, 51, 51);
  object-fit: cover;
}

.place {
  margin-top: 100px;
}

.place h3 {
  text-align: center;
  font-size: 1.5rem;
  color: rgb(167, 122, 255);
}

.place h3 b {
  color: #512afd;
}

.famous {
  display: block;
}

.famous h3 {
  margin-top: 80px;
  font-size: 1.5rem;
  /* border-bottom: 2px solid rgb(255, 199, 33); */
  color: rgb(58, 179, 142);
}

.famous ul {
  background-color: rgb(180, 252, 230);
  margin: 0 auto;
  width: 80%;
  line-height: 35px;
  border: 2px solid #333;
  border-radius: 10ch;
}

.famous ul p {
  color: #000;
  padding-bottom: 15px;
}

.famous ul li {
  font-size: 1rem;
}

.famous ul li:hover {
  transition: all 0.8s;
  transform: scale(1.07);
  opacity: 0.3;
}

/*
グアム中央部でおすすめの場所
*/
.recommendation {
  text-align: center;
  display: block;
  margin-top: 100px;
}

.recommendation h2 {
  padding-bottom: 15px;
}

.recommendation p {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
  line-height: 30px;
}

.recommendation p a {
  background-color: rgb(255, 37, 37);
  font-size: 0.9rem;
  border-radius: 60px;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

.recommendation p a:hover {
  background-color: #fff;
  border: 2px solid rgb(255, 37, 37);
  padding: 15px;
  cursor: pointer;
  color: rgb(255, 37, 37);
  transition: all 0.5s;
}

.recommendation h2 b {
  color: #ff971f;
}

.recommendation .image {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  word-spacing: 20px;
}

.recommendation .image img {
  height: 410px;
  object-fit: fill;
}

.recommendation .image p {
  text-align: right;
  right: 0;
  font-size: 0.8rem;
}

/*
experience
*/
#experience {
  background-color: #fff3ae;
  padding-bottom: 120px;
  margin-top: 120px;
  margin-bottom: 120px;
}

#experience .menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#experience .menu li {
  width: 48%;
  background-color: #fff;
  border-radius: 20px;
  padding: 50px;
  margin-bottom: 22px;
}
/* 3つ目以降はmargin-bottomを設定しない */
#experience .menu li:nth-child(n + 3) {
  margin-bottom: 0;
}

#experience .menu-title {
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 5px;
}

#experience .menu-title .ja {
  display: block;
  font-size: 1.75rem;
  margin-bottom: 10px;
}

#experience .menu-title .en {
  display: block;
  font-size: 1.125rem;
  margin-bottom: 25px;
}

#experience .menu p {
  text-align: center;
}

/*
footer CSS
*/
footer #copyright {
  height: 60px;
  padding-top: 15px;
  text-align: center;
  background-color: rgb(98, 98, 98);
  color: #fff;
  font-size: 1.3rem;
}

/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 1217px) {
  /* overview */
  #overview .select-flex {
    flex-direction: column;
  }

  /*  Summary  */
  #experiece {
    margin-bottom: 80px;
  }
  #experience .menu {
    flex-direction: column;
  }
  #experience .menu li {
    width: 100%;
    padding: 30px;
  }
  #experience .menu li:nth-child(3) {
    margin-bottom: 32px;
  }
  #experience .menu-title .ja {
    font-size: 1.5rem;
  }
  #experience .menu-title .en {
    font-size: 1rem;
  }
}
